/* fuck you discord */
.sidebar_a4d4d9 {
    width: 0px!important;
    padding-left: var(--channel-mini)!important;
    transition: all 0.4s;
}
.sidebar_a4d4d9:hover {
    transition-delay: 0s;
    width: var(--channel-max)!important;
    padding-left: initial!important;
}
/*Required CSS
:root {
    --channel-mini: 36px;
    --channel-max: 240px; /* normal channel list size }*/
